.Home {
  /*background-color: #fefefe;*/
  text-align: center;
  color:white;

}
.greeting {
  text-align: left;
  color:black
}

.Report__Form {
  width: 100%;
  color: #2E4158;

  overflow: auto;
}
.DataDiv {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.DataDiv .plantData {
  width: 500px;
  position: relative;
  height: 500px;

}
#plant-light-data {
  height: 20px;
}
