.Header > ul > a {
    display: inline-block;;
    width: 150px;

    color:white;

    margin-left: 15px;
    cursor: pointer;
    transition: color 0.2s;
    font-size:18px;
    text-decoration: none;
    list-style: none;
}
.Header > ul > a:hover {
    color: rgba(100, 90, 130);
}
.Header > ul {
    float:left;
}
.Header {
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(140,218,190);
    height: 60px;
}
